.landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.cardList {
    width: 100%;
    max-width: 1024px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card {
    padding: 18px;
    margin: 8px 0;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

.cardList a {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .cardList {
        flex-direction: row;
    }
}