version: "3.8"
services: 
  app:
    build:
      context: .
    volumes: 
      - .:/method-toolkit-frontend
    ports:
      - 3000:3000
    image: app:react
    container_name: react_container
    command: yarn start