.cardList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

.cardList > div {
    margin-top: 16px;
}

@media only screen and (min-width: 768px) {
    .cardList {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: stretch;
      row-gap: 32px;
    }

    .cardList > div {
        margin-top: 0;
    }
  }