.searchSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.selectContainer {
  margin: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.select {
  width: 200px;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .selectContainer {
    flex-direction: row;
  }
}
