.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.cardList {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  padding: 18px;
  margin: 8px 0;
  width: 200px;
  cursor: pointer;
}

.cardList a {
  display: block;
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .cardList {
    flex-direction: row;
  }
}
