.searchBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
}

.searchBarMiddleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#searchField {
    flex-grow: 3;
    width: 100%;
    min-width: 256px;
}

@media only screen and (min-width: 768px) {
    .searchField {
        max-width: 600px;
    }
  }

