.header {
  position: sticky;
  top: 0;
  list-style: none;
  padding: 8px;
  background-color: #fbfcfd;
  border-bottom: 1px solid #d5dde5;
  z-index: 100;
}

 .menu a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerRight a {
  text-decoration: none;
  color: black;
  padding: 8px 0;
}

.containerRight a:hover {
  border-bottom: #EC1C24 solid 3px;
}

.activePage a {
  border-bottom: #EC1C24 solid 3px;
}

.containerRight li {
  padding: 16px;
}

.containerLeft {
  display: flex;
}

.containerRight {
  display: none;
}

.logo {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 1440px;
  }

  .menu {
    display: none;
  }

  .containerRight {
    display: flex;
    flex-grow: 0.5;
    justify-content: space-around;
  }
  
}
