.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.richDescription {
  text-align: left;
  max-width: 900px;
}
