.mainContent {
  width: 100%;
  text-align: left;
}

.contentDivider {
  max-width: 1250px;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .methodHeader > img {
    display: block;
  }

  .mainContent {
    max-width: 850px;
  }

  .contentDivider {
    flex-direction: row;
  }
}
