.homeContainer {
  display: block;
  margin: 0 auto;
  padding: 1em;
  max-width: 1250px;
}

#introductionSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 16px;
}

#introductionSection img {
  display: none;
}

#userStories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardRow {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  #userStories p {
    max-width: 600px;
  }

  #introductionSection img {
    display: block;
  }

  .cardRow {
    flex-direction: row;
  }
}
