.whatDoINeed {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.pairsWellWith {
  min-width: 200px;
  width: max-content;
}

.techniques {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.techniques a {
  color: black;
  text-decoration: none;
  height: min-content;
  margin: 0 8px;
}

.techniques a:hover {
  color: grey;
}