.methodHeaderContainer {
    width: 100%;
    background-color: #396B9B;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    min-height: 256px;
  }

  .methodHeaderContainer h1 {
    color: #FFFFFF;
  }
  
  .methodHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin: 0 auto;
    padding: 16px;
  }
  
  .methodHeader > img {
    display: none;
  }
  
  .methodHeaderText {
    max-width: 700px;
  }

  @media only screen and (min-width: 768px) {
    .methodHeader {
      max-width: 1440px;
    }

    .methodHeader > img {
      display: block;
    }
  }
  